<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать чат</title>
</head>
<body>
    <h1>Создать чат</h1>
    <form method="POST">
        <label for="chat_name">Название чата:</label>
        <input type="text" name="chat_name" required><br>

        <label for="participants">Выберите участников:</label><br>
        {% for username in users %}
        <input type="checkbox" name="participants" value="{{ username }}"> {{ username }}<br>
        {% endfor %}

        <button type="submit">Создать чат</button>
    </form>
</body>
</html>
