<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form action="{{ url_for('register') }}" method="POST">
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" name="password" required>
        <br>
        <label for="first_name">Имя:</label>
        <input type="text" name="first_name" required>
        <br>
        <label for="last_name">Фамилия:</label>
        <input type="text" name="last_name" required>
        <br>
        <label for="age">Возраст:</label>
        <input type="number" name="age" required>
        <br>
        <label for="about_me">О себе:</label>
        <textarea name="about_me"></textarea>
        <br>
        <button type="submit">Зарегистрироваться</button>
    </form>

    <a href="{{ url_for('login') }}">Уже есть аккаунт? Войти</a>
</body>
</html>
